@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@keyframes navlinks {
    0% {color: darkred;}
    60% {color: black;}
    100% {
        color: darksalmon;
        transform: translateX(10px);
    }
}

body {
    background-image: repeating-linear-gradient(to right, white, bisque 5px, white 5px);
    margin: 0;
}

header {
    background-color: white;
    height: 83pt;
    margin-bottom: 20pt;
}

.pos1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 140pt;
}

.pos1 img {
    height: 75pt;
}

.pos2 {
    position: absolute;
    top: 29pt;
    left: 140pt;
    right: 0;
}

.pos2 h1 {
    font: bold italic 42pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10pt;
    margin: 0;
    background-color: darksalmon;
}

.pos3 {
    position: absolute;
    top: 4pt;
    left: 140pt;
    right: 70pt;
}

.pos3 h1 {
    font: bold 24pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 6pt;
    margin: 0;
    color: darksalmon;
}

nav {
    float: left;
    width: 150px;
    margin: 10px 40px 20px 0;
    padding: 10px;
    border: black medium double;
    border-radius: 10px;
    box-shadow: 4px 4px 1px 1px darkgrey;
}

nav div {
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav a:link, nav a:visited {
    color: darkred;
    text-decoration: none;
}

nav a:active, nav a:hover {
    text-decoration: none;
    animation-name: navlinks;
    animation-duration: 0.5s;
    transform: translateX(10px);
    animation-fill-mode: forwards;
}

div {
    font-size: 12pt;
    margin: 5px 0;
}

main {
    text-align: justify;
}

table.pricelist td, table.pricelist th {
    border: grey thin solid;
    padding: 4px;
}

table.pricelist thead th {
    color: white;
    background-color: grey;
}

table.pricelist tr td:last-child:not(:only-child) {
    background-color: lightgrey;
}

table caption {
    font-size: 24px;
}

table tfoot td {
    text-align: right;
    font-style: italic;
}

table.catalog {
    width: 70%;
    min-width: 12cm;
    border-collapse: collapse;
}

table.catalog h3 {
    font-family: "Caviar Dreams";
    font-size: 20pt;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 2pt;
}

table.catalog h3:after {
    content: ':';
}

table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}

table.catalog img {
    width: 100%;
}

table.catalog tr td:first-child {
    width: 50%;
}

table.catalog tr:first-child td {
    border-top: none;
}

table.catalog tr:last-child td {
    border-bottom: none;
}

table.catalog td p:first-letter {
    vertical-align: top;
}

table.catalog td p:first-of-type:first-letter {
    font-size: 24pt;
}

button {
    margin-top: 10px;
}

form {
    width: 400px;
    padding: 0 10px;
    border: thin dotted darkgrey;
    border-radius: 5px;
}

input[type=submit] {
    font: bold 20pt Verdana;
    text-transform: uppercase;
    width: 250px;
    border: thick solid black;
    border-radius: 0;
}

input[type=image] {
    border-style: none;
}

input:focus {
    background-color: yellow;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}


footer {
    width: 100%;
    min-width: 300px;
    border-top: 2pt dashed lightgrey;
    background-color: white;
    height: 170pt;
    text-align: right;
    position: relative;
}

.pos4 {
    position: absolute;
    top: 0;
    right: 20pt;
}

.pos5 {
    position: absolute;
    top: 20pt;
    left: 168pt;
    height: 80pt;
    width: 130pt;
    background-color: yellow;
    font: bold 16pt Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.greeting {
    font-size: 24pt;
}
