body {
    font-family: Arial;
    background-image: linear-gradient(to right top, salmon 0%, white 67%, salmon 100%);
    margin: 0;
}

p {
    font-size: 14pt;
}

header {
    background-color: white;
    height: 83pt;
}

.pos1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 140pt;
}

.pos1 img {
    height: 75pt;
}

.pos2 {
    position: absolute;
    top: 29pt;
    left: 140pt;
    right: 0;
}

.pos2 h1 {
    font: bold italic 42pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10pt;
    margin: 0;
    background-color: darksalmon;
}

.pos3 {
    position: absolute;
    top: 4pt;
    left: 140pt;
    right: 70pt;
}

.pos3 h1 {
    font: bold 24pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 6pt;
    margin: 0;
    color: darksalmon;
}

div#tablecont {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

div#tablecont > div {
    display: table-row;
}

div#tablecont > div > * {
    display: table-cell;
    vertical-align: top;
}

nav {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}

nav div, nav a {
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

nav a:link, nav a:visited {
    color: darkred;
    text-decoration: none;
}

nav a:active, nav a:hover {
    color: darksalmon;
    text-decoration: none;
}

ol {
    list-style-type: upper-roman;
}

main {
    padding-left: 20px;
    text-align: justify;
}

div {
    font-size: 12pt;
    margin: 5px 0;
}

.bigger {
    font-size: 16pt;
}

.advertising {
    margin-left: 30pt;
}

footer {
    width: 100%;
    min-width: 300px;
    border-top: 2pt dashed lightgrey;
    background-color: white;
    height: 170pt;
    text-align: right;
    position: relative;
}

.pos4 {
    position: absolute;
    top: 0;
    right: 20pt;
}

.pos5 {
    position: absolute;
    top: 20pt;
    left: 150pt;
    height: 80pt;
    width: 130pt;
    background-color: yellow;
    font: bold 16pt Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.greeting {
    font-size: 24pt;
}

